

body {
    font-family: 'Roboto', sans-serif;
}
#calc-parent{
    width: 460px;
    height:640px;
    /* background-color: black; */
    border-radius: 7px;
    margin: 50px auto;
}
.calc-btn{
    background-color:#5f6062;
    color: white;
    flex: 1;
   
    height: 90px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
    line-height: 100px;
}
.calc-btn:hover{
    background-color: orange;
}
.row{
    display: flex;
    justify-content: space-between;
   /*  table-layout: fixed; */
    width: 460px;
}
/* .column{
    display: table-cell;
} */
#calc-zero{
    /* width: 52.66666667px; */
  border-radius: 0 0 0 7px;
    flex: 2.01;
}
/* #calc-clear{
    width: 52.66666667px;
} */
#calc-clear{
    background-color: #3f4143;
}
#plusmin{
    background-color: #3f4143;
}
#last{
    background-color: #3f4143;
}
#calc-display-val{
    height: 160px;
    width: 460px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 7px 7px 0 0 ;
    font-size: 80px;
    background-color: #383838;
    overflow: hidden;
    white-space: no-wrap;
    padding-right: 20px;
    border: 7px 7px 0 0;
    align-content: center;
    line-height: 180px;
}
.calc-btn-operator {
    background-color: orange;
    color: white;
}
.calc-btn-operator:hover{
    background-color: gray;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
#calc-equals{
    border-radius: 0 0 7px 0;
}
/* #calc-parent{
    margin-left:  calc(50% - 100px);
} */