* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.calc {
    width: 460px;
    height: 640px;
    /* background-color: black; */
    border-radius: 7px;
    margin: 50px auto;
}


/* 
.out,
.tablo input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 30px;
    justify-content: center;
    background: antiquewhite;
    overflow: hidden;
} */

.tablo {
    height: 160px;
    width: 460px;
    padding-right: 30px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 7px 7px 0 0;
    font-size: 80px;
    background-color: #383838;
    overflow: hidden;
    white-space: no-wrap;
    border: 7px 7px 0 0;
    align-content: center;
    line-height: 180px;
    cursor: default;
}

.calc__row {
    display: flex;
    justify-content: space-between;
    /*  table-layout: fixed; */
    width: 460px;
}

.btn,
.btn1,
.btn_op {
    background-color: #5f6062;
    color: white;
    flex: 1;
    height: 90px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
    line-height: 100px;
}

.btn1:hover,
.btn:hover {
    background-color: orange;
}

.btn_op {
    background-color: orange;
    color: white;
}

.btn_op:hover {
    background-color: gray;
}

.bigbutton {
    border-radius: 0 0 0 7px;
    flex: 2.14;
}

.black {
    background-color: #3f4143;
}

#equally {
    border-radius: 0 0 7px 0;
}