* {
    box-sizing: border-box;
}

.inputs {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 23%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px 8px;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.row div {
    width: 25%;
    text-align: center;
}